<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/join" method="post">
        <input type="text" name="username" placeholder="Enter username" value="ssar" />
        <input type="password" name="password" placeholder="Enter password" value="1234" />
        <input type="email" name="email" placeholder="Enter email" value="ssar@nate.com" />
        <select>
            <option value="USER">유저권한</option> 
            <option value="MANAGER">매니저권한</option> 
            <option value="ADMIN">관리자권한</option> 
        </select>
        <button>회원가입</button>
    </form>
</body>

</html>